.Result {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

    .label {
      flex: 1;
      font-weight: bold;
      text-align: left;
    }
  }
}
